<!doctype html>
<html lang="en">
  <head>
      <style>
        footer {
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 60px; /* Set the fixed height of the footer here */
          line-height: 60px; /* Vertically center the text there */
          background-color: #f5f5f5;
        }
          #map {
    height: 70%;
    width: 70%;
    position:absolute;
    left:2%;
    top:10% ;
     border: 10px solid black;
     border-radius: 25px;
  }
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  form{
      height: 70%;
      border-radius: 25px;
      padding: 20px;
      position: absolute;
      right: 5%;
      top:10%;
      background-color: white;
      border: 10px solid black;
  }

  input {
      width: 50%;
  }
          .input {
      width: 100%;
  }
  #idsensor{
      display: none;
  }
          #botao{
              margin:auto;
              width: 100%;
              position: absolute;
              left: 25%;
              bottom: 10%;
          }
          #sel{
              width: 100%;
          }
        </style>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <title>Cadastrar Sensor</title>
  </head>
  <body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Car Counter</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/mapa">Mapa<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Cadastro
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/cadastrar_sensor">Cadastrar Sensor</a>
          <a class="dropdown-item" href="/alterar_sensor#">Alterar Sensor</a>
        </div>
      </li>
              <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Relatório
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/relatorio_diario">Relatório Diário</a>
          <a class="dropdown-item" href="/relatorio_tabela">Relatório Tabela</a>
          <a class="dropdown-item" href="/relatorio_calendario">Relatório Calendário</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Sair</a>
      </li>
    </ul>
  </div>
</nav>

 <div id="map">

     <script>

         var map;
var sensor_point;
var marker

function initMap() {
    var inicial = {lat: -26.915060, lng: -48.663639};

    map = new google.maps.Map(document.getElementById('map'), {
        zoom: 15,
        center: inicial,
    });

    // This event listener will call addMarker() when the map is clicked.
    map.addListener('click', function (event) {



        if (!marker){
            addMarker(event.latLng);
        }
        else{
            marker.setPosition(event.latLng)
        }
        document.getElementById("inputLat").value=event.latLng.lat();
        document.getElementById("inputLng").value=event.latLng.lng();
    });
}

// Adds a marker to the map and push to the array.
function addMarker(location) {
    marker = new google.maps.Marker({
        position: location,
        map: map
    });
    sensor_point=marker;
}
     </script>
 </div>




 <div id="form">
 <form action = "http://18.236.66.87/sensores" method = "POST">
     <h1>Cadastrar Sensor</h1>
         <p> Clique no mapa para posicionar o sensor</p>
     <p> Latitude </p>
     <input class="input" id="inputLat" type = "text" name = "lat" readonly/></p>
     <p> Longitude </p>
     <input class="input" id="inputLng" type ="text" name = "lon" readonly/></p>
     <p> Nome </p>
     <input class="input" type ="text" id="nomesensor" name = "Nome do sensor" /></p>
     <p> Descrição</p>
     <input class ="input" type ="text" id= "descricao"name = "Descricao" /></p>
     <input id="idsensor" type ="text" name ="idsensor"/>
         <p class ="botao" id="botao"><input type = "submit" value = "Alterar Sensor" /></p>
      </form>


 </div>


 </div>
  <footer class="footer"></footer>
</body>
        <footer class="footer">
      <div class="container">
        <span class="text-muted">Contato: 1234-5678</span>
      </div>
    </footer>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function(){
			var ps = new PerfectScrollbar(this);

			$(window).on('resize', function(){
				ps.update();
			})
		});


	</script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>
  <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCr35RuV58Q0f6Obi_zJU8y-6L0zHHH2Jo&callback=initMap">
    </script>

  </body>
</html>