<!doctype html>
<html lang="en">
  <head>
      <style>
        footer {
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 60px; /* Set the fixed height of the footer here */
          line-height: 60px; /* Vertically center the text there */
          background-color: #f5f5f5;
        }
          #map {
    height: 80%;
    width: 55%;
    position:absolute;
    left:2%;
    top:10% ;
     border: 10px solid black;
     border-radius: 25px;
  }
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  #table_div{
            height: 80%;
      width: 35%;
      position: absolute;
      right: 5%;
      top:10%;
      background-color: white;
        }
        </style>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <title>Car Counter</title>
  </head>
  <body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Car Counter</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
        <a class="nav-link" href="/">Início<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/mapa">Mapa<span class="sr-only"></span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Cadastro
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/cadastrar_sensor">Cadastrar Sensor</a>
          <a class="dropdown-item" href="/alterar_sensor#">Alterar Sensor</a>
        </div>
      </li>
              <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Relatório
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/relatorio_diario">Relatório Diário</a>
          <a class="dropdown-item" href="/relatorio_tabela">Relatório Tabela</a>
          <a class="dropdown-item" href="/relatorio_calendario">Relatório Calendário</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Sair</a>
      </li>
    </ul>
  </div>
</nav>


 <div id="map">


     <script>

     </script>
     <script type="text/javascript">

        var json;
        var ourrequest = new XMLHttpRequest();
        ourrequest.open('GET', 'http://18.236.66.87/sensores');
        ourrequest.onload = function () {
            var ourdata = JSON.parse(ourrequest.responseText);
            json = ourdata;
        };
        ourrequest.send();

         var map;
var sensor_point;
var marker

function initMap() {


    var inicial = {lat: -26.915060, lng: -48.663639};

    map = new google.maps.Map(document.getElementById('map'), {
        zoom: 15,
        center: inicial,
    });
    for (i=0;i<json.sensores.length;i++){
        var position = {lat: json.sensores[i].lat, lng: json.sensores[i].lon};
        var marker = new google.maps.Marker({
          position: position,
          map: map,
          title: json.sensores[i].descricao
        });

    }
}
     </script>
 </div>



 </div>
  <footer class="footer"></footer>
</body>
        <footer class="footer">
      <div class="container">
        <span class="text-muted">Contato: 1234-5678</span>
      </div>
    </footer>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function(){
			var ps = new PerfectScrollbar(this);

			$(window).on('resize', function(){
				ps.update();
			})
		});


	</script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>
  <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCr35RuV58Q0f6Obi_zJU8y-6L0zHHH2Jo&callback=initMap">
    </script>

        <div id="table_div"></div>


  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

        var json;
        var requestsensores = new XMLHttpRequest();
        requestsensores.open('GET','http://18.236.66.87/fluxo');
        requestsensores.onload = function () {
            var datasensores = JSON.parse(requestsensores.responseText);
            json=datasensores;
            console.log(json.sensores[0])
            google.charts.load('current', {'packages':['table']});
            google.charts.setOnLoadCallback(drawTable);
        }
        requestsensores.send();


       function drawTable() {
        var data = new google.visualization.DataTable();
        data.addColumn('number', 'Index');
        data.addColumn('string', 'Nome do Sensor');
        data.addColumn('number', 'Fluxo (Ultima hora)');
        data.addColumn('boolean', 'Congestionamento');

        for (i = 0 ; i < json.sensores.length; i ++) {
            var congest;
            if (json.contagens[i]>json.fluxos[i]){
                congest=true
            }else{
                congest=false
            }
            data.addRows([
            [json.sensores[i], json.nomes[i], json.contagens[i], congest]
            ]);
        }

        var table = new google.visualization.Table(document.getElementById('table_div'));

        table.draw(data, {showRowNumber: false, width: '100%', height: '100%', page:'enable'});
      }
    </script>
  </body>
</html>